body{
	font-size: 14px;
    font-family: "Open Sans",arial,sans-serif;
	background-color: #DD3F3F; 
	line-height: 1.6;
	margin: 0;
}

header{
	position: relative;
	margin: 0 0%;
	background-color: #EAEAEA;
	
	width: 100%;
	height: 95px;
	z-index: 1;
}

.logo{
	float: left;
	padding: 7.5px 40px; 
	width: auto;
	height: 80px;
}

.logo img{
	width: auto;
	height: 100%;
}


.imagen-central{
	float: left;
	margin: 45px; 
	width: auto;
	height: 640px;
}
.imagen-central img{
	width: 100%;
	height: 100%;
}


.topbar{
	position: relative;
	float: left;
	width: 100%;
	height: 30px;
	padding: 0 25px;
	background-color: #2B2A2A;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	z-index: 1;
}

.topbar a{
	height: 30px;
	color: #FFFEFE;
	text-decoration: none;
	padding: 4px 20px 6px;
	font-size: 18px;
}

.topbar a:hover{
	background-color: #DD3F3F;
}

.contenido{
	position: relative;
	float: left;
	margin: 0 5%;
	background-color: #FFFEFE;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	height: 1650px;
	width: 90%;
}

.panel{
	text-align: center;
	font-size: 25px;
	font-weight: bold;

}

.boton{
    background-color: #DD3F3F;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}


.boton:hover {
    background-color: #FFFEFE; 
    color: black; 
    border: 2px solid #DD3F3F;
}

.sns{
	position: relative;
	float: right;
	width: 15%;
	height: 50px;
}
.sns img{
	width:40px;
	height: 40px;
}

.sub2{
	position: relative;
	float: left;
	width: 100%;
	height: 250px;
}

.sub2 img{
	margin:25px 10px 20px 160px;  
	padding:15px;
	width :145px;
	height:130px;
}


p.one {
	margin:35px;
	text-align:justify;
	font-size:130%;
}
p.two {
	position: relative;
	float: left;
	width: 20%;
	margin:0px 10px 10px 110px;
	text-align:justify;
	font-size:105%;
}
p.three {
	position: relative;
	float: left;
	text-align: right;
	width: 85%;
	height: 50px;
	margin:10px 0px 0px 0px;
	font-size:105%;
}
p.four {
	position: relative;
	float: left;
	text-align: center;
	width: 100%;
	height: 50px;
	margin:25px;
	font-size:105%;
}

.bar{
	position: relative;
	float: left;
	width: 1166px;
	height: 30px;
	padding: 0 25px;
	background-color: #0b3136;

}

.bar a{
	height: 30px;
	color: #FFFEFE;
	text-decoration: none;
	padding: 4px 20px 6px;
	font-size: 18px;
}

.bar a:hover{
	background-color: #507e8d;
}